<%= params[:id]%>
<h1 class="fire">HELLO WORLD!!!!!!</h1>
<h1>
     Workshop Todo List
   </h1>

   <div class="card">
     <input type="checkbox">
     <h3>Todo #<%= @todo.id %></h3>
     <span><%= @todo_pomodoro_estimate %> pomodoros</span>
     <a href="#" id="edit-todo-button">Edit</a>
     <a href="#" id="delete-todo-button">Delete</a>
     <a href="index.html" class="simple-link">Go back...</a>
   </div>
<%= @todo_estimate %>
